{
  "env": {
    "es2020": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "import/no-unresolved": "off",
    "@typescript-eslint/no-unused-vars": 0,
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          ["parent", "sibling"],
          "index",
          "object"
        ],
        "pathGroups": [
          {
            "pattern": "express",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "typeorm",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "@config/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ]
  }
}
